.fields
  = f.hidden_field :_destroy
  =f.check_box :valida, options ={:style => "display:none;"}
  =f.check_box :rechaza, options ={:style => "display:none;"}
  %table.sglea
    %tr
    - if f.object.archivo_file_name.nil?
      %td.tit Adjuntar Archivo
      %td.inp=f.file_field :archivo
    -else
      %td.tit Adjuntar Archivo
      %td.inp= link_to image_tag("descargar.png"), f.object.archivo.url
    %td.tit Detalle
    %td.inp= f.text_field :detalle
    %td.tit Estado
    - if !f.object.valida && !f.object.rechaza
      %td.inp NO VALIDADO
    - elsif f.object.valida && !f.object.rechaza
      %td.inp VALIDADO
    - else
      %td.inp RECHAZADO
    - if current_user.roles.map(&:nombre).join(', ').to_s["Usuario"] == "Usuario"
      - if f.object.valida
        %td.tit Valida?
        %td.inp=f.radio_button :archivo_file_size , :valida, :onclick => "testing('valida', this)", :checked => 'checked' 
        %td.tit Rechaza?
        %td.inp=f.radio_button :archivo_file_size , :valida, :onclick => "testing('rechaza', this)"
      - else
        %td.inp=f.radio_button :archivo_file_size , :valida, :onclick => "testing('valida', this)"
        %td.tit Rechaza?
        %td.inp=f.radio_button :archivo_file_size , :valida, :onclick => "testing('rechaza', this)", :checked => 'checked' 
	
    %td.inp= link_to_remove_fields "Eliminar", f if not form_disabled
